{% extends 'base.html.twig' %}

{% block title %}Notification{% endblock %}

{% block body %}
    <a href="{{ path('admin') }}">Main</a>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Subscription id</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Request</th>
            <th scope="col">Response</th>
            <th scope="col">Executing time</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody id="ajax-results">
        {% for notification in notifications %}
            <tr>
                <th scope="row">{{ notification.id }}</th>
                <td>{% if notification.subscriptions %}{{ notification.subscriptions.id }}{% else %}null{% endif %}</td>
                <td>{{ notification.timestamp|date }}</td>
                <td>{{ notification.request }}</td>
                <td>{{ notification.response }}</td>
                <td>{{ notification.execTime }}</td>
                <td>{{ notification.operation.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}